.navbar{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 60px;
}
.new{
    background-color: violet;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
}
